<!DOCTYPE html>
<html lang="en" ng-app="AnimeCheck">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title>Anime Check</title>
    <script src="cordova.js"></script>
    <link rel="stylesheet" href="src/style/css/main.css">
    <link rel="stylesheet" href="lib/touch-menu-la/css/touch-menu-la.min.css">
    <link rel="stylesheet" href="lib/touch-tabs-la/css/touch-tabs-la.min.css">
    <link rel="stylesheet" href="lib/loading-spinner/loading-spinner.css">
</head>
<body>
    <div id="view-index" ui-view>
        <img src="src/assets/splash-logo.png" class="splash-logo" />
    </div>

    <div id="menu" class="touch-menu-la tmla-menu" ng-controller="MenuCtrl">
        <ul class="menu-items">
            <li ng-click="menuAction('search')"><i class="material-icons">search</i> Buscar</li>
            <li ng-click="menuAction('home')"><i class="material-icons">fiber_new</i> Últimos Lançamentos</li>
            <li class="line"></li>
            <li class="space"></li>
            <li>
                <i class="material-icons">list</i> Listas
            </li>
            <li class="sub" ng-repeat="item in menuLists" ng-click="openList(item.LIST_ID)">
                <i class="material-icons">chevron_right</i>
                <span ng-bind="item.LIST_NAME"></span>
            </li>
        </ul>
    </div>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 200 200" id="spinner-content">
        <circle cx="100" cy="100" r="50" id="circle"></circle>
    </svg>

    <!-- Fastclick -->
    <script src="lib/fastclick/fastclick.js"></script>

    <!-- Angular -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.min.js"></script>

    <!-- Hammer -->
    <script src="lib/hammer/hammer.min.js"></script>

    <!-- Touch Menu Like Android -->
    <script src="lib/touch-menu-la/js/touch-menu-la.min.js"></script>

    <!-- Slide Tabs Like Android -->
    <script src="lib/touch-tabs-la/js/touch-tabs-la.js"></script>

    <script src="lib/moment/moment.min.js"></script>

    <script>
        AC = {};
    </script>

    <script src="src/js/models.js"></script>

    <script src="src/js/initialize.js"></script>

    <script src="src/js/dataBase.js"></script>

    <!-- Loading Spinner -->
    <script src="lib/loading-spinner/loading-spinner.js"></script>

    <script src="src/js/tools.js"></script>

    <script src="src/js/material-design.js"></script>

    <script src="src/js/main.js"></script>
</body>
</html>