<div id="header">
    <a ui-sref="all-my" class="material-icons menu-btn icon-btn left black">arrow_back</a>
    <span class="title">Categoria: "{{::categoryName}}"</span>
</div>

<div id="tabs" class="ttla-tabs">
    <ul>
        <li class="btn-wave">
            <a href="#tab1">Animes</a>
        </li>
        <li class="btn-wave">
            <a href="#tab2">Mangás</a>
        </li>
    </ul>
</div>

<div id="ttla-container" class="ttla-container">
    <div id="ttla-content" class="ttla-content content scroll">
        <div id="tab1" class="tab-content" ui-view="animes"></div>
        <div id="tab2" class="tab-content" ui-view="mangas"></div>
    </div>
</div>