<div layout="column" layout-fill layout="column">
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="goBack()">
				<i class="material-icons">arrow_back</i>
			</md-button>
			<span>
				{{category}}
			</span>
			<span flex></span>
			<md-button class="md-icon-button">
				<a href="#/search" class="material-icons">search</a>
			</md-button>
    	</div>
	</md-toolbar>
	<md-content style="height:{{contentHeight}}px">
		<div ui-view="main"></div>
	</md-content>
</div>