<div id="header" class="search-header">
    <a ui-sref="all-my" class="material-icons menu-btn icon-btn left" id="searchBack">arrow_back</a>
    <a class="material-icons menu-btn icon-btn left" id="searchClose">close</a>
    <span class="title" id="searchText">{{searchQuery}}</span>
    <form ng-submit="searchSubmit()">
        <input type="search" class="title" id="searchField" placeholder="Buscar" />
    </form>
    <a class="material-icons icon-btn right" id="searchButton">search</a>
</div>

<div id="tabs" class="ttla-tabs">
    <ul>
        <li class="btn-wave">
            <a href="#tab1">Animes</a>
        </li>
        <li class="btn-wave">
            <a href="#tab2">Mangás</a>
        </li>
    </ul>
</div>

<div id="ttla-container" class="ttla-container">
    <div id="ttla-content" class="ttla-content content scroll">
        <div id="tab1" class="tab-content" ui-view="anime-search"></div>
        <div id="tab2" class="tab-content" ui-view="manga-search"></div>
    </div>
</div>