<div id="header" class="search-header">
    <a ui-sref="home" class="material-icons menu-btn icon-btn left" id="searchBack">arrow_back</a>
    <a class="material-icons menu-btn icon-btn left" id="searchClose">close</a>
    <span class="title" id="searchText">{{searchQuery}}</span>
    <input type="search" class="title" id="searchField" placeholder="Buscar" ng-model="searchQuery" />
    <a class="material-icons icon-btn right" id="searchButton">search</a>
</div>

<div id="content" ui-view="search-content"></div>