<div class="series-container">
    <div ng-click="openAnime(serie.type, serie.id)" ng-repeat="serie in list track by $index" class="serie">
        <!--<div class="serie-content" style="background-image: url({{::serie.image_url_lge}});">-->
        <div class="serie-content" ng-style="serie.style" ng-preload="serie.image_url_lge">
            <!--<a href="#/serie" class="full-link"></a>-->
            <div class="infos">
                <span class="name">{{ cutName(serie.title_romaji) }}</span>
            </div>
        </div>
    </div>
    <div class="nothing" ng-if="list.length == 0">
        Nada por aqui
    </div>
</div>