<div class="mask"></div>

<div id="header" class="header-serie">
    <a ui-sref="home" class="material-icons menu-btn icon-btn left black">arrow_back</a>

    <div class="anime-title">
        <div class="fab btn-wave" id="fab" ng-click="selectList()" ng-if="!inList">
            <i class="material-icons">add</i>
        </div>
        <span class="title-jp" ng-bind="serie.titleJp"></span>
        <br />
        <span class="title-rm" ng-bind="serie.title"></span>
    </div>
</div>

<div class="serie-content" id="serie-content" ui-view="include"></div>

<div class="dialog" id="choose-list">
    <h2>Selecione uma lista</h2>
    <div class="dialog-content --no-side-margin">
        <ul>
            <li ng-click="addNewList()">Adicionar nova lista</li>
            <li ng-repeat="item in lists" ng-click="addToList(item.LIST_ID)">{{item.LIST_NAME}}</li>
        </ul>
    </div>
    <div class="dialog-buttons">
        <button class="btn outline text-indigo btn-wave" id="dialog-list-cancel">Cancelar</button>
    </div>
</div>